/*img {
width: 100%;
height: 100%;*/
/*position: absolute;*/
}
div.carousel-inner{
	/*height: 80px;
	width: 50px;*/
}
#myCarousel{
	position: absolute;
	height: 100%;
	width:100%;

}
img.img-responsive{
	 width:100%;
    height:100%;
}
